################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TikTok_Events_dotnet/.vs/ProjectEvaluation
/TikTok_Events_dotnet/.vs/TikTok_Events
